<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Supply.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Supply.Properties.Settings>
      <setting name="connect" serializeAs="String">
        <value>Data Source=87.117.2.46,49172;Initial Catalog=Supply;Persist Security Info=True;User ID=HostelAdmin;Password=c9vjCdm7</value>
      </setting>
      <setting name="template1" serializeAs="String">
        <value />
      </setting>
      <setting name="template2" serializeAs="String">
        <value />
      </setting>
      <setting name="template3" serializeAs="String">
        <value />
      </setting>
      <setting name="template4" serializeAs="String">
        <value />
      </setting>
      <setting name="template5" serializeAs="String">
        <value />
      </setting>
      <setting name="template6" serializeAs="String">
        <value />
      </setting>
      <setting name="template7" serializeAs="String">
        <value />
      </setting>
      <setting name="template8" serializeAs="String">
        <value />
      </setting>
      <setting name="template9" serializeAs="String">
        <value />
      </setting>
      <setting name="template10" serializeAs="String">
        <value />
      </setting>
      <setting name="template11" serializeAs="String">
        <value />
      </setting>
      <setting name="outFileDir" serializeAs="String">
        <value />
      </setting>
      <setting name="IsServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ngkOrder" serializeAs="String">
        <value />
      </setting>
    </Supply.Properties.Settings>
  </userSettings>
</configuration>